html {
    scroll-behavior: smooth;
}

body {
    background-color: #A47551;
}

.jumbo {
    position: relative;
}

.heading-on-top {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

/* Headings */

h1 {
    font-size: 80px;
    color: #E0DFD0;
    text-align: center;
}

h2 {
    font-size: 80px;
    color: #E0DFD0;
    text-align: center;
}

h3 {
    font-size: 80px;
    color: #A47551;
    text-align: center;
}

.heading2Modal {
    font-size: 35px;
    text-align: center;
    color: #A47551;
    padding: 0;
}

p {
    font-size: 27px;
    text-align: center;
}

.tableHeadings {
    font-size: 30px;
    text-align: center;
    color: #922C40;
    padding: 0;
}

.priceHeadings {
    text-align: right;
    font-size: 25px;
    color: #922C40;
    padding: 15px;
    border-top: solid 1px #888;
}

/* Images */

.aboutUsImage {
    width: 100%;
    height: 30vw;
    object-fit: cover;
}

.homeView {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.ceoImage {
    width: 90%;
    height: 40vw;
    border-radius: 300px;
}

.logo {
    width: 100%;
    height: auto;
}

.ceoBackground {
    background-color: white;
    width: 100%;
}

.shoppingCartimg {
    width: 60px;
    background-color: transparent;
}

.viewShoppingCart {
    background-color: transparent;
    border: none;
}

.cart-image {
    width: 140px;
    height: 150px;
    overflow: hidden;
}

.productModal {
    width: 400px;
    height: 370px;
    overflow: hidden;
}

/* Buttons */

#backToTopButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    background-color: #922C40;
    color: #E0DFD0;
    cursor: pointer;
    border-radius: 10px;
    font-size: 18px;
}

#backToTopButton:hover {
    background-color: #DC9750;
}

.deleteButton {
    background-color: #A47551 !important;
    color: white !important;
    text-align: center !important;
    font-size: 20px !important;
    border: none;
}

.deleteButton:hover {
    background-color: #922C40 !important;
    color: white !important;
}

.purchaseButton {
    background-color: #A47551 !important;
    color: white !important;
    text-align: center !important;
    font-size: 20px !important;
    border: none;
}

.purchaseButton:hover {
    background-color: #DC9750;
    color: white;
}


/* Navbar Section */

.first-navbar {
    background-color: #E0DFD0;
}

.titles {
    color: #922C40;
    font-size: 32px;
}

.titles:hover {
    color: #000000;
}


/* Cart Section */

.content-cart {
    background-color: #E0DFD0;
    border: 1px solid #888;
    width: 60vw;
}

.tableData {
    text-align: center;
    font-size: 21px;
}

.tableData1 {
    border-top: solid 1px #888;
    text-align: center;
    font-size: 21px;
}

.quantity-input {
    text-align: center;
    font-size: 20px;
    width: 5vw;
    border: 1px solid #888;
}

.invoice-date {
    text-align: center;
    font-size: 21px;
}

/* Modal Content */

.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #E0DFD0;
    border: 1px solid #888;
    width: 70vw;
}

.close {
    color: black;
    font-size: 50px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #922C40;
    text-decoration: none;
    cursor: pointer;
}

/* Loading States */

.spinner {
    border: 10px solid #A47551;
    border-radius: 50%;
    border-top: 10px solid #E0DFD0;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}

.spin {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/*Media Queries Below*/

@media only screen and (min-width: 200px) and (max-width: 319px) {

    /* Headings */

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 20px;
    }

    .heading2Modal {
        font-size: 20px;
    }

    p {
        font-size: 15px;
    }

    .tableHeadings {
        font-size: 12px;
    }

    .priceHeadings {
        font-size: 10px;
    }

    /* Buttons */

    #backToTopButton {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        border: none;
        background-color: #922C40;
        color: #E0DFD0;
        cursor: pointer;
        border-radius: 10px;
        font-size: 18px;
    }

    .purchaseButton {
        font-size: 10px !important;
    }

    .deleteButton {
        font-size: 10px !important;
    }


    /* Navbar Section */

    .titles {
        font-size: 25px;
    }

    .shoppingCartimg {
        width: 40px;
    }

    .cart-image {
        width: 50px;
        height: 60px;
    }


    /* Cart Section */

    .content-cart {
        width: 80vw;
    }

    .tableData {
        font-size: 10px;
    }

    .tableData1 {
        font-size: 10px;
    }

    .quantity-input {
        font-size: 10px;
        width: 4vw;
    }

    .invoice-date {
        font-size: 10px;
    }

    /* Modal Content */

    .modal {
        position: absolute;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {

    /* Headings */

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 40px;
    }

    .heading2Modal {
        font-size: 20px;
    }

    p {
        font-size: 20px;
    }

    .tableHeadings {
        font-size: 15px;
    }

    .priceHeadings {
        font-size: 15px;
    }


    /* Buttons */

    .purchaseButton {
        font-size: 15px !important;
    }

    .deleteButton {
        font-size: 15px !important;
    }


    /* Navbar Section */

    .titles {
        font-size: 25px;
    }

    .shoppingCartimg {
        width: 40px;
    }

    .cart-image {
        width: 100px;
        height: 110px;
    }


    /* Cart Section */

    .content-cart {
        width: 80vw;
    }

    .tableData {
        font-size: 15px;
    }

    .tableData1 {
        font-size: 15px;
    }

    .quantity-input {
        font-size: 15px;
        width: 5vw;
    }

    .invoice-date {
        font-size: 20px;
    }

    /* Modal Content */

    .modal {
        position: absolute;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {

    /* Headings */

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 40px;
    }

    .heading2Modal {
        font-size: 25px;
    }

    p {
        font-size: 20px;
    }

    .tableHeadings {
        font-size: 18px;
    }

    .priceHeadings {
        font-size: 18px;
    }


    /* Buttons */

    .purchaseButton {
        font-size: 15px !important;
    }

    .deleteButton {
        font-size: 15px !important;
    }


    /* Navbar Section */

    .titles {
        font-size: 23px;
    }

    .shoppingCartimg {
        width: 40px;
    }

    .cart-image {
        width: 110px;
        height: 120px;
    }


    /* Cart Section */

    .content-cart {
        width: 80vw;
    }

    .tableData {
        font-size: 18px;
    }

    .tableData1 {
        font-size: 18px;
    }

    .quantity-input {
        font-size: 15px;
        width: 5vw;
    }

    .invoice-date {
        font-size: 20px;
    }

    /* Modal Content */

    .modal {
        position: absolute;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    
    /* Headings */

    h1 {
        font-size: 70px;
    }

    h2 {
        font-size: 70px;
    }

    h3 {
        font-size: 60px;
    }

    .heading2Modal {
        font-size: 30px;
    }

    p {
        font-size: 25px;
    }

    .tableHeadings {
        font-size: 30px;
    }

    .priceHeadings {
        font-size: 25px;
    }


    .content-cart {
        width: 80vw;
    }

    /* Buttons */

    .purchaseButton {
        font-size: 17px !important;
    }

    .deleteButton {
        font-size: 17px !important;
    }

    /* Navbar Section */

    .titles {
        font-size: 30px;
    }

    .shoppingCartimg {
        width: 50px;
    }

    .cart-image {
        width: 110px;
        height: 120px;
    }


    /* Cart Section */

    .tableData {
        font-size: 18px;
    }

    .tableData1 {
        font-size: 18px;
    }

    .quantity-input {
        font-size: 15px;
        width: 5vw;
    }

    .invoice-date {
        font-size: 20px;
    }

}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {

     /* Headings */

     h1 {
        font-size: 80px;
    }

    h2 {
        font-size: 80px;
    }

    h3 {
        font-size: 70px;
    }

    .heading2Modal {
        font-size: 30px;
    }

    p {
        font-size: 25px;
    }

    .tableHeadings {
        font-size: 30px;
    }

    .priceHeadings {
        font-size: 25px;
    }


    .content-cart {
        width: 80vw;
    }

    /* Buttons */

    .purchaseButton {
        font-size: 17px !important;
    }

    .deleteButton {
        font-size: 17px !important;
    }

    /* Navbar Section */

    .titles {
        font-size: 30px;
    }

    .shoppingCartimg {
        width: 50px;
    }

    .cart-image {
        width: 110px;
        height: 120px;
    }


    /* Cart Section */

    .tableData {
        font-size: 18px;
    }

    .tableData1 {
        font-size: 18px;
    }

    .quantity-input {
        font-size: 15px;
        width: 5vw;
    }

    .invoice-date {
        font-size: 20px;
    }

}

@media only screen and (min-width: 1201px) {

    /* Headings */

    h1 {
        font-size: 80px;
    }

    h2 {
        font-size: 80px;
    }

    h3 {
        font-size: 80px;
    }

    .heading2Modal {
        font-size: 35px;
    }

    p {
        font-size: 27px;
    }

    .tableHeadings {
        font-size: 30px;
    }

    .priceHeadings {
        font-size: 25px;
    }

    /* Buttons */

    .purchaseButton {
        font-size: 20px !important;
    }

    .deleteButton {
        font-size: 20px !important;
    }

    /* Navbar Section */

    .titles {
        font-size: 32px;
    }

    .shoppingCartimg {
        width: 60px;
    }

    .cart-image {
        width: 140px;
        height: 150px;
    }

    /* Cart Section */

    .tableData {
        font-size: 18px;
    }

    .tableData1 {
        font-size: 21px;
    }

    .quantity-input {
        font-size: 20px;
        width: 5vw;
    }

    .invoice-date {
        font-size: 21px;
    }
}