html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 80px;
    color: #E0DFD0;
    text-align: center;
}

.homeView {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.heading-on-top {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

/* Navbar section */

h2 {
    font-size: 30px;
    color: #000000;
    text-align: center;
}

p {
    font-size: 27px;
    text-align: center;
    color: #E0DFD0;
    font-weight: bold;
}

.first-navbar {
    background-color: #E0DFD0;
    position: sticky;
    z-index: 2;
}


.titles {
    color: #922C40;
    font-size: 32px;
}

.titles:hover {
    color: #000000;
}

.shoppingCartimg {
    width: 60px;
    background-color: transparent;
}

.viewShoppingCart {
    background-color: transparent;
    border: none;
}

/* Back to top button */

#backToTopButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    background-color: #922C40;
    color: #E0DFD0;
    cursor: pointer;
    border-radius: 10px;
    font-size: 18px;
}

#backToTopButton:hover {
    background-color: #DC9750;
}

/* Contact details */

.details {
    width: 4vw;
}

a{
    text-decoration: none;
    color: #E0DFD0;
}

a:hover{
    text-decoration: none;
    color: #E0DFD0;
}

/* Map and Contact Form */

.columnMap {
    width: 50%;
}

.map {
    height: 450px;
    width: 50vw;
    border: none;
}

.labelStyle {
    color: #E1E7E0;
    font-size: 27px;
    font-weight: bold;
}

.inputStyle {
    height: 40px;
    width: 15vw;
    text-align: center;
}

.inputStyleText {
    height: 100px;
    width: 15vw;
    text-align: center;
}

.submitButton{
    font-size: 25px;
    background-color: #922C40;
    color: #E1E7E0;
    border: none;
    width: 9vw;
}

.submitButton:hover {
    transform: scale(1.1);
    background-color: #DC9750;
    color: black;
    border: none;
}